<%@ page import="java.util.*" %>
<%@ page import="com.yantra.yfc.dom.*" %>
<%@ page import="com.yantra.yfc.util.*" %>
 
 <%! 
 String getLocalizedOrderLineItemTypeDescription(String orderLineNamespace) 
	{
        String sCurrentLocaleCode = getLocale().getLocaleCode();
        String languageDescriptionType =  "";
		String localeCode = "";
		YFCElement oLangDesc = null;
		YFCElement root = (YFCElement)pageContext.getAttribute(orderLineNamespace);
		if(root != null)
		{
			YFCElement oItem = root.getChildElement("PrimaryInformation");
			if(oItem != null)
			{
				YFCElement oLangDescList = oItem.getChildElement("LanguageDescriptionList");
				if(oLangDescList != null)
				{
					for (Iterator j = oLangDescList.getChildren(); j.hasNext();) 
					{
						oLangDesc = (YFCElement) j.next();
						localeCode = oLangDesc.getAttribute("LocaleCode");
						if(YFCCommon.equals(localeCode,sCurrentLocaleCode))
						{
							languageDescriptionType = oLangDesc.getAttribute("Description");
							break;
						}
					}
				}
			}
        }
		if (YFCCommon.isVoid(languageDescriptionType)) 
			languageDescriptionType = getValue(orderLineNamespace, "xml:/OrderLine/ItemDetails/PrimaryInformation/@ItemType");
        return (languageDescriptionType);
	}

	%>