<%@ page import="java.util.*" %>
<%@ page import="com.yantra.yfc.util.*" %>
<%@ include file="/console/jsp/editable_table_utils.jspf" %>

<%

	String sOperation = request.getParameter("userOperation");
	 YFCElement errors = (YFCElement)request.getAttribute("YFC_EXCEPTIONXML");
	 YFCElement root = null;
	 YFCElement oNewOrder = null;
	 YFCElement eOrigAPIElem = null;

		if(equals(request.getParameter("getRequestDOM"),"Y")) //Currently, it is passed as Y from order_detail_anchor.jsp & return_detail_anchor.jsp
		{
			YFCElement detailAPIRoot = (YFCElement) request.getAttribute("Order"); //Detail API Output
			eOrigAPIElem = (YFCElement)detailAPIRoot.cloneNode(true);
			request.setAttribute("OrigAPIOutput",eOrigAPIElem);

			HashMap orderLineAttrs  = new HashMap();
			orderLineAttrs.put("OrderLine", "OrderLineKey");
			
			if(!isVoid(errors) || equals(sOperation,"Y") || equals(sOperation,"DELETE"))
			{
				root = getRequestDOM(); //Data that Posted from the Detail View
				request.setAttribute("getRequestDOMOutput",root);
				if(root != null)
					oNewOrder = root.getChildElement("Order");
				if(oNewOrder !=null)		
				{
					mergeRequestAndAPIOutput(detailAPIRoot,oNewOrder,orderLineAttrs);
				}
			}
	}
%>
